<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team1060.golf.auth.mapper.AuthMemberMapper">

	<select id="select" resultType="com.team1060.golf.auth.vo.OauthMember">
    select * from tbl_auth_member
    where oauth_serverid = #{oauthId.oauthServerId}
</select>
	
	<insert id="authJoin">
    insert into tbl_auth_member (oauth_serverid, oauthserverType, nickname, role)
    values (#{oauthId.oauthServerId}, #{oauthId.oauthServerType}, #{nickname}, 'user')
</insert>
	
</mapper>