<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.team1060.golf.product.mapper.ProductMapper">

	<!-- 상품 상세페이지 조회 -->
	<select id="getProductListItem" resultType="java.util.HashMap">
SELECT
    p.product_no,
    b.brand_name,
    p.product,
    p.price,
    p.regdate,
    p.discount,
    p.is_shop_pickup,
    p.is_shop_delivery,
    (
        SELECT JSON_ARRAYAGG(
            JSON_OBJECT(
                'uuid', i.uuid,
                'path', i.path,
                'image_product_no', i.product_no,
                'type', i.type
            )
        )
        FROM tbl_p_image i
        WHERE p.product_no = i.product_no AND i.type LIKE '%detail%'
    ) AS image_details,
    (
        SELECT JSON_ARRAYAGG(
            JSON_OBJECT(
                'uuid', i.uuid,
                'path', i.path,
                'image_product_no', i.product_no,
                'type', i.type
            )
        )
        FROM tbl_p_image i
        WHERE p.product_no = i.product_no AND i.type LIKE '%image_600%'
    ) AS image_prdts,
    (
        SELECT JSON_ARRAYAGG(
            JSON_OBJECT(
                'option_no', o.option_no,
                'option_name', o.name,
                'option_count', o.count
            )
        )
        FROM tbl_p_option o
        WHERE p.product_no = o.product_no
    ) AS product_options
FROM
    tbl_product p
LEFT JOIN
    tbl_p_brand b ON p.brand_no = b.brand_no
WHERE
    p.product_no = #{product_no}
GROUP BY
    p.product_no, b.brand_name, p.product, p.price, p.regdate, p.discount, p.is_shop_pickup, p.is_shop_delivery
ORDER BY
    p.product_no;
	</select>

	<!-- 상품 목록 페이지 -->
	<select id="getProductList" resultType="java.util.HashMap">
		SELECT
		p.product_no,
		p.brand_no,
		pb.brand_name,
		p.product,
		p.price,
		p.regdate,
		p.discount,
		p.is_shop_pickup,
		p.is_shop_delivery,
		i.path,
		i.product_no AS
		image_product_no,
		i.type
		FROM
		tbl_product p
		LEFT JOIN
		tbl_p_image i ON
		p.product_no = i.product_no
		LEFT JOIN
		tbl_p_brand pb ON p.brand_no =
		pb.brand_no
		WHERE
		i.type = 'image_300';

	</select>

	<!-- 상품 등록 -->
	<insert id="insertProduct">
		insert into tbl_product
		(
		product_no,
		brand_no,
		product,
		price,
		discount,
		regdate,
		benefit,
		no_interest_installment,
		is_shop_pickup,
		is_shop_delivery
		)
		values
		(
		#{product_no},
		#{brand_no},
		#{product},
		#{price},
		#{discount},
		#{regdate, jdbcType=TIMESTAMP},
		#{benefit},
		#{no_interest_installment},
		#{is_shop_pickup},
		#{is_shop_delivery}
		)
		<selectKey keyProperty="product_no" order="AFTER"
			resultType="Long">
			select max(product_no) from tbl_product
		</selectKey>
	</insert>




</mapper>
