<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.team1060.golf.product.mapper.ProductMapper">

	<!-- 상품별 이미지 1개 조회 -->
	<select id="getProductListItem" resultType="java.util.HashMap">
		SELECT
		p.product_no,
		p.brand_no,
		p.product,
		p.price,
		p.regdate,
		p.discount,
		p.is_shop_pickup,
		p.is_shop_delivery,
		i.uuid,
		i.path,
		i.product_no AS image_product_no,
		i.type
		FROM
		tbl_product p
		LEFT JOIN
		tbl_p_image i ON p.product_no =
		i.product_no
		WHERE
		p.product_no = #{product_no};
	</select>

	<!-- 상품 목록 페이지 -->
	<select id="getProductList" resultType="java.util.HashMap">
		SELECT
		p.product_no,
		p.brand_no,
		p.product,
		p.price,
		p.regdate,
		p.discount,
		p.is_shop_pickup,
		p.is_shop_delivery,
		i.path,
		i.product_no AS image_product_no,
		i.type
		FROM
		tbl_product p
		LEFT JOIN
		tbl_p_image i ON p.product_no = i.product_no where i.type = 'image_300'
	</select>
</mapper>
